<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div style="height: 450px;">
            <app-report-data [tableDatas]="transactionSummaryReceiveAndPayment"></app-report-data>
        </div>
        <div style="height: 450px;">
            <app-report-data [tableDatas]="loanDisburseAndFullPayment"></app-report-data>
        </div>

        <div id="chart-container-1" style="height: 450px;"></div>
        <div id="chart-container-2" style="height: 450px;"></div>
    </div>
</div>