.widget-header{
    margin-top: 5px;
    margin-bottom: 5px;
}

.report-layout{
    border: 1px solid gray !important;
    margin-bottom: 2px;
    border-radius: 5px;
    margin-left: 1px;
}

.btn-ambs{
    margin-bottom: 10px;
}

.btn-export{
    margin-right: 15px;
    border-radius: 5px !important;
}