<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div style="height: 450px;" class="overflow-auto">
            <table class="table table-bordered">
                <ng-container>
                <thead>
                    <tr *ngFor="let layer of tableData?.layers">
                        <th *ngFor="let column of layer?.columns" [attr.colspan]="column.columnSpan" [attr.rowspan]="column.rowSpan" style="text-align: center;">{{column.columnName}}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let row of tableData?.rows">
                        <td *ngFor="let cell of row">{{cell}}</td>
                    </tr>
                </tbody>
            </ng-container>
            </table>
        </div>
        <div id="chart-container-1" style="height: 450px;"></div>
        <div id="chart-container-2" style="height: 450px;"></div>
    </div>
</div>