<p>report-filter-edit works!</p>
<div class="row container-outer-layout">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="alert alert-dark" role="alert">
            <label class="fs-5 fw-bold">Filter Edit</label> 
            <button type="button" class="btn btn-secondary float-end plus-btn" title="save filter" (click)="saveFilter()"><i class="fa fa-save"></i></button>
        </div>
        <div class="row">
            <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 offset-lg-2 offset-md-2">
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="name" placeholder="filter name" required [(ngModel)]="filter.name">
                    <label for="name">Name</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="label" placeholder="filter label" required [(ngModel)]="filter.label">
                    <label for="label">Label</label>
                </div>
                <div class="form-floating mb-3">
                    <textarea rows="10" type="text" class="md-textarea md-textarea-auto form-control" id="script" placeholder="filter script" required [(ngModel)]="filter.script"></textarea>
                    
                    <label for="script">Script</label>
                
                </div>
                <div class="form-floating mb-3">
                    <input type="text area" class="form-control" id="parameter" placeholder="filter parameter" required [(ngModel)]="filter.parameter">
                    <label for="iFrameUrl">Parameter</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="dependentParameters" placeholder="filter dependentParameters" required [(ngModel)]="filter.dependentParameters">
                    <label for="iFrameUrl">Dependent Parameters</label>
                </div>
                <div class="form-floating mb-3">
                    <select id="type" class="form-select" [(ngModel)]="filter.type">
                        <option [ngValue]="1">TextBox</option>
                        <option [ngValue]="2"> DateTime</option>
                        <option [ngValue]="3"> CheckBox </option>
                        <option [ngValue]="4"> Dropdown</option>
                        <option [ngValue]="5"> RadioButton</option>
                    </select>
                    <label for="type">Type</label>
                </div>
                <div class="form-check mb-3">
                    <input class="form-check-input" type="checkbox" id="status" required [(ngModel)]="filter.status">
                    <label class="form-check-label" for="flexCheckDefault">
                      Active
                    </label>
                </div>
                <div class="alert alert-danger" role="alert" *ngIf="message">
                    {{message}}
                </div>
            </div>
        </div>
    </div>
</div>


